.tarjeta {
    width: clamp(10rem, 19rem, 20rem);
    margin: 0.5rem;
}

@media (max-width: 991.98px) {
    .tarjeta {
        width: 95%;
    }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
    .tarjeta {
        width: clamp(10rem, 17rem, 20rem);
    }
}